<div id="login-container" class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 rounded overflow-hidden shadow-lg">
  <div class="bg-white rounded-2xl p-7 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-40 w-auto" src="assets/Ensak-Connect.png" alt="Ensak Connect">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="emailFormControl"  placeholder="Ex. pat@example.com">
            @if (loginForm.controls.emailFormControl.hasError('email') && !loginForm.controls.emailFormControl.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
            }
            @if (loginForm.controls.emailFormControl.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordFormControl">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (loginForm.controls.passwordFormControl.hasError('required')) {
              <mat-error>Password is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>

        <div>
          <button type="submit" class="w-full" [disabled]="loginForm.invalid || showLoading" style="background-color: #5552fe" mat-raised-button color="primary">
            @if(!showLoading) {
              Sign in
            } @else {
              <div class="flex justify-center">
                Loading...<mat-spinner diameter="20" color="accent"></mat-spinner>
              </div>
            }
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
