<div>
  <div class="hp-body-bg ">
    <div class="grid-container mb-0 mt-0" >
      <mat-grid-list cols="2" rowHeight="200px" >

        <mat-grid-tile  [colspan]="2" [rowspan]="1" >

          <div class="flex items-center w-full h-full" >
            <a href="/" class="mr-auto my-auto w-full h-full">
              <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/Ensak-Connect.webp);
  background-repeat: no-repeat;">
              </div>
            </a>
          </div>

        </mat-grid-tile>


      </mat-grid-list>
    </div>


    <div class="grid-container mb-5" >
      <mat-grid-list cols="2" rowHeight="350px" >

        <ng-container [ngSwitch]="stepperOrientation | async">

                    <div *ngSwitchCase="'horizontal'">
                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="w-full">
                          <h1 class="font-semibold  " style="font-size:36px">
                            ENSAK CONNECT

                          </h1>
                          <p class="mb-4" style="font-size:16px">
                            ENSAK Connect is an application developed for the National School of Applied Sciences of Kenitra (ENSA-Kenitra)
                            community with the aim of facilitating students integration into the job market.
                            It provides internship offers for students and graduates, assisting them in finding jobs or internships.
                            Additionally, it is designed for professors to post doctoral offers and support their students in seamlessly
                            integrating into the market.

                          </p>


                        </div>



                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="flex items-center w-full h-full" >
                          <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/banner.png);
  background-repeat: no-repeat;">
                          </div>

                        </div>


                      </mat-grid-tile>


                    </div>

                    <div *ngSwitchCase="'vertical'" class="grid-container-sm">

                      <mat-grid-tile  [colspan]="2" [rowspan]="1" >

                        <div>
                          <h1 class="font-semibold " style="font-size:36px">
                            ENSAK CONNECT

                          </h1>
                          <p class="mb-4" style="font-size:16px">
                            ENSAK Connect is an application developed for the National School of Applied Sciences of Kenitra (ENSA-Kenitra)
                            community with the aim of facilitating students integration into the job market.
                            It provides internship offers for students and graduates, assisting them in finding jobs or internships.
                            Additionally, it is designed for professors to post doctoral offers and support their students in seamlessly
                            integrating into the market.

                          </p>

                        </div>


                      </mat-grid-tile>


                      <mat-grid-tile  [colspan]="2" [rowspan]="1" >

                        <div class="flex items-center w-full h-full" >
                          <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/banner.png);
  background-repeat: no-repeat;">
                          </div>

                        </div>


                      </mat-grid-tile>


                    </div>


        </ng-container>


      </mat-grid-list>
    </div>


    <div class="features-3" >
      <div class="grid-container mb-5 mt-3 " >
        <mat-card >
          <mat-card-header>
            <mat-card-title class="section-title-h2">ALL IN ONE</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="features ">
              <div class="container"  >

                <mat-grid-list cols="3" rowHeight="350px" >

                  <ng-container [ngSwitch]="stepperOrientation | async">
                    <div *ngSwitchCase="'horizontal'">


                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box">
                          <h3>YOUR DREAM JOB</h3>
                          <div class="flex items-center w-full h-full" >
                              <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/Joboffers.gif);
  background-repeat: no-repeat;">
                              </div>

                          </div>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box">
                          <h3>SHARE YOUR EXPERIENCES</h3>
                          <div class="flex items-center w-full h-full" >
                              <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/Content.gif);
  background-repeat: no-repeat;">
                              </div>
                          </div>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="1" [rowspan]="1">

                        <div class="icon-box">
                          <h3>
                            ASK QUESTIONS!
                          </h3>
                          <div class="flex items-center w-full h-full" >
                            <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/Questions.gif);
  background-repeat: no-repeat;">
                            </div>
                          </div>
                        </div>

                      </mat-grid-tile>

                    </div>

                    <div *ngSwitchCase="'vertical'" class="grid-container-sm">

                      <mat-grid-tile  [colspan]="3" [rowspan]="1" >

                        <div class="icon-box w-full text-center">
                          <h3 class="text-center w-full">YOUR DREAM JOB</h3>
                          <div class="flex items-center w-full h-full" >
                            <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/Joboffers.gif);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="3" [rowspan]="1" >

                        <div class="icon-box w-full text-center">
                          <h3 class="text-center w-full">SHARE YOUR EXPERIENCES</h3>
                          <div class="flex items-center w-full h-full" >
                            <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/Content.gif);
  background-repeat: no-repeat;">
                            </div>
                          </div>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="3" [rowspan]="1">

                        <div class="icon-box w-full text-center">
                          <h3 class="text-center w-full">ASK QUESTIONS!
                          </h3>
                          <div class="flex items-center w-full h-full" >
                            <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/Questions.gif);
  background-repeat: no-repeat;">
                            </div>
                          </div>
                        </div>


                      </mat-grid-tile>

                    </div>


                  </ng-container>

                </mat-grid-list>

              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>


    <div class="features-3" >
      <div class="grid-container mb-5 mt-3 " >
        <mat-card >
          <mat-card-header>
            <mat-card-title class="section-title-h2">PROJECT DIRECTORS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="features ">
              <div class="container"  >

                <mat-grid-list cols="2" rowHeight="350px" >

                  <ng-container [ngSwitch]="stepperOrientation | async">
                    <div *ngSwitchCase="'horizontal'">


                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box" style="flex-direction: row">

                          <div class="flex items-center w-full h-full m-1" >
                            <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/image_prof_gahi.jpg);
  background-repeat: no-repeat;">
                            </div>
                            <div class="text-left p-1">
                              <h3>Youssef Gahi </h3>
                              <p>Associate Professor | Data Transformatioin Specialist | Big Data
                                Trainer | Industry-Academia coordinator | Senior Researcher | IEEE Senior Member</p>
                            </div>

                          </div>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box" style="flex-direction: row">

                          <div class="flex items-center w-full h-full m-1" >
                            <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/image_prof_bouzekri.jpg);
  background-repeat: no-repeat;">
                            </div>
                            <div class="text-left p-1">
                              <h3>Yunes El Bouzekri El Idrissi</h3>
                              <p>Professor at Ibn Tofail University | IHM and JEE specialist | Backend Director
                                | Dev Web | Javascript Expert</p>
                            </div>

                          </div>
                        </div>

                      </mat-grid-tile>


                    </div>

                    <div *ngSwitchCase="'vertical'" class="grid-container-sm">


                      <mat-grid-tile  [colspan]="2" [rowspan]="1" >

                        <div class="icon-box w-full text-center" >
                          <div class="flex items-center w-full h-full m-1" >
                            <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/image_prof_gahi.jpg);
  background-repeat: no-repeat;">
                            </div>
                          </div>
                          <div class="text-left p-1">
                            <h3>Youssef Gahi </h3>
                            <p>Associate Professor | Data Transformatioin Specialist | Big Data
                              Trainer | Industry-Academia coordinator | Senior Researcher | IEEE Senior Member</p>
                          </div>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="2" [rowspan]="1">

                        <div class="icon-box w-full text-center">
                          <div class="flex items-center w-full h-full m-1" >
                            <div class="w-full h-full" style="background-position: center;
  background-size: contain;
  background-image: url(../../../../assets/image_prof_bouzekri.jpg);
  background-repeat: no-repeat;">
                            </div>
                          </div>

                          <div class="text-left p-1">
                            <h3>Yunes El Bouzekri El Idrissi</h3>
                            <p>Professor at Ibn Tofail University | IHM and JEE specialist | Backend Director
                              | Dev Web | Javascript Expert</p>
                          </div>
                        </div>


                      </mat-grid-tile>

                    </div>


                  </ng-container>

                </mat-grid-list>

              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>


    <div class="features-3" >
      <div class="grid-container mb-5 mt-3 " >
        <mat-card >
          <mat-card-header>
            <mat-card-title class="section-title-h2">TEAM DEVELOPERS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="features ">
              <div class="container"  >

                <mat-grid-list cols="3" rowHeight="350px" >

                  <ng-container [ngSwitch]="stepperOrientation | async">
                    <div *ngSwitchCase="'horizontal'">


                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/BenaliMouad500x500.jpg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3>Mouad Benali</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/omar_tof.jpeg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3>Omar Defaoui</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/benassertof.jpg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3>Hassan Ayoub Benasser</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/DSC_48++.jpg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3>Mohamed Saad Ohassan</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/alaouitof.jpeg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3>Hamza Alaoui</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/Haytem_Barrik_tof.jpeg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3 >Barik Haytam</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="1" [rowspan]="1" >

                        <div class="icon-box" >

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/souhail_tof.jpeg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3>Souhail El Mrihy</h3>
                        </div>

                      </mat-grid-tile>

                    </div>

                    <div *ngSwitchCase="'vertical'" class="grid-container-sm">

                      <mat-grid-tile  [colspan]="3" [rowspan]="1" >

                        <div class="icon-box w-full text-center">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/BenaliMouad500x500.jpg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3 class="text-center w-full">Mouad Benali</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="3" [rowspan]="1" >

                        <div class="icon-box w-full text-center">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/omar_tof.jpeg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3 class="text-center w-full">Omar Defaoui</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="3" [rowspan]="1" >

                        <div class="icon-box w-full text-center">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/benassertof.jpg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3 class="text-center w-full">Hassan Ayoub Benasser</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="3" [rowspan]="1" >

                        <div class="icon-box w-full text-center">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/DSC_48++.jpg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3 class="text-center w-full">Mohamed Saad Ohassan</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="3" [rowspan]="1" >

                        <div class="icon-box w-full text-center">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/alaouitof.jpeg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3 class="text-center w-full">Hamza Alaoui</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="3" [rowspan]="1" >

                        <div class="icon-box w-full text-center">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/Haytem_Barrik_tof.jpeg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3 class="text-center w-full">Barik Haytam</h3>
                        </div>

                      </mat-grid-tile>

                      <mat-grid-tile  [colspan]="3" [rowspan]="1" >

                        <div class="icon-box w-full text-center">

                          <div class="flex items-center w-full h-full" style="border-radius: 100%">
                            <div class="w-full h-full " style="background-position: center;
                            border-radius: 100%;
  background-size: contain;
  background-image: url(../../../../assets/souhail_tof.jpeg);
  background-repeat: no-repeat;">
                            </div>

                          </div>
                          <h3 class="text-center w-full">Souhail El Mrihy</h3>
                        </div>

                      </mat-grid-tile>

                    </div>


                  </ng-container>

                </mat-grid-list>

              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>

  </div>



</div>





<!-- ======= Footer ======= -->
<footer id="footer" >
  <div class="text-center py-4">
    <div class="px-4">
      &copy; Copyright <strong><span>Ensak Connect</span></strong>.<br> All Rights Reserved
    </div>
    <div>
      <a href="/" >www.ensakconnect.com</a>
    </div>
  </div>
</footer><!-- End Footer -->




